html, body, #app{
  height:100%;
  width:100%;
  box-sizing:border-box;
}
.App {
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  height:100vh;
  width:100%;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 140px;
  pointer-events: none;
}

a, a:visited, a:hover, a:active, a:link{
  text-decoration: none;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* misc */
.bold{
  font-weight: bold;
}

 /* images */
